:root {
    --primary-color: #b87707;
    --secondary-color: #dc2626;
    --bg-primary: #ffffff;
    --text-primary: #000000;
    --text-secondary: #ffffff;
    --bg-secondary: #f3f4f6;
    --border-light: #e5e7eb;
    --border-dark: #d1d5db;
    --box-shadow: none;
    --card-bg: #ffffff;
    --card-text: #000000;
}

[data-theme="dark"] {
    --bg-primary: #1f2937;
    --text-primary: #ffffff;
    --text-secondary: #d1d5db;
    --border-light: #374151;
    --border-dark: #4b5563;
    --bg-secondary: #374151;
    --box-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.1);
    --card-bg: #2d3748;
    --card-text: #f9fafb;
}

[data-theme="dark"] body {
    background: var(--bg-primary);
    color: var(--text-primary);
}

/* Hero Section */
.hero {
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('https://i.pinimg.com/1200x/d5/26/ee/d526eeb506c4487b1c041beb39eb6da5.jpg') center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;
}


/* Card Style */
.card {
    background-color: var(--card-bg);
    color: var(--card-text);
    border: 1px solid var(--border-light);
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    box-shadow: var(--box-shadow);
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-color: var(--primary-color);
}

.card:hover .card-title {
    color: var(--primary-color);
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Modal */
.bg-golden {
    background-color: var(--primary-color);
}

.modal-content {
    background-color: var(--card-bg);
    color: var(--card-text);
    border-radius: 15px;
}

.modal-body img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}