        /* រចនាបឋម (Hero Section) */
        .hero-section {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://via.placeholder.com/1500x400.png?text=Education+Banner') no-repeat center center;
            background-size: cover;
            color: white;
            padding: 6rem 1.5rem;
            text-align: center;
            border-radius: 0 0 15px 15px;
            margin-bottom: 2rem;
        }

        .hero-section h1 {
            font-weight: 700;
            font-size: 3rem;
        }

        .section-title {
            font-weight: 700;
            color: #4a4a4a;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 3px solid #d4af37;
            /* ពណ៌មាសស្រាល */
            display: inline-block;
        }

        /* រចនា Card */
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(255, 255, 255, 0.08);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            height: 100%;
          
            
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgb(72, 70, 0);
        }

        .card-icon {
            font-size: 2.5rem;
            color: #d4af37;
            /* ពណ៌មាស */
            margin-bottom: 1rem;
        }

        .card-title {
            font-weight: 700;
            color: #333;
        }

        .diamond-card-image {
            transition: transform 0.3s ease;
            animation: float-anim 5s ease-in-out infinite;
        }

        @keyframes float-anim {
            0% {
                transform: translateY(0);

            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }