


/* @import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */



body {
  
  background-image:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('https://cdn.pixabay.com/photo/2018/06/03/01/13/lotus-3449597_1280.jpg');
  /* ដាក់រូបអ្នកចង់ប្រើ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Noto Sans Khmer', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
* {
  font-family: "Battambang", sans-serif;
}
.register-card {
  background: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  display: flex;
}

.register-image {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.155);
 
}

.register-form {
  flex: 1;
  padding: 40px;
}

h3 {
  color: #b57c00;
  font-weight: bold;
}

.form-control {
  border: 1px solid #15605d;
  border-radius: 10px;
  padding: 10px 15px;
}

.btn-register {
  background-color: #b87707;
  color: white;
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn-register:hover {
  background-color: #f8b748;
  transform: scale(1.05);
  /* color: #f8b748; */
}

.social-links a {
  color: #b87707;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #b57c00;
}

@media (max-width: 768px) {
  .register-card {
    flex-direction: column;
  }

  .register-image {
    height: 250px;
    border-radius: 0;
  }
}