*{
    margin: auto;
    padding:auto;
    box-sizing: border-box ;
}
:root {
            --primary-color: #b87707;
            --secondary-color: #DC2626;
            --bg-primary: #FFFFFF;
            --text-primary: #1F2937;
            --text-secondary: #6B7280;
            --border-light: #E5E7EB;
            --border-dark: #D1D5DB;
        }
        
        [data-theme="dark"] {
            --bg-primary: #111827;
            --text-primary: #F9FAFB;
            --text-secondary: #D1D5DB;
            --border-light: #374151;
        }

.banner-title{
    height: 80vh;

    background-image: url(/asset/images/herobaner.jpg.jpg); 
    background-size: cover;
    background-position: center;

    background-color: rgba(20, 20, 20, 0.619) !important;
    background-blend-mode: overlay !important;
    border-radius: 30px !important;
}
@media screen and (max-width: 768px) {
    .banner-title{
        height: 50vh;
        background-image: url(/asset/images/herobaner.jpg.jpg); 
        background-size: cover;
        background-position: center;
        background-color: rgba(20, 20, 20, 0.619) !important;
        background-blend-mode: overlay !important;
        border-radius: 30px !important;
        
    }
    .banner-title h1{
        font-size: 24px !important;
        text-align: center !important;
        background-image: url(/asset/images/herobaner.jpg.jpg); 
        background-size: cover;
        background-position: center;
        background-color: rgba(20, 20, 20, 0.619) !important;
        background-blend-mode: overlay !important;
        border-radius: 30px !important;
    }
    
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .banner-title{
        height: 60vh;
        background-image: url(/asset/images/herobaner.jpg.jpg); 
        background-size: cover;
        background-position: center;
        background-color: rgba(20, 20, 20, 0.619) !important;
        background-blend-mode: overlay !important;
        border-radius: 30px !important;
    }
    .banner-title h1{
        font-size: 36px !important;
        text-align: center !important;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .banner-title{
        height: 80vh;
        background-image: url(/asset/images/herobaner.jpg.jpg); 
        background-size: cover;
        background-position: center;
        background-color: rgba(20, 20, 20, 0.619) !important;
        background-blend-mode: overlay !important;
        border-radius: 30px !important;
    }
    .banner-title h1{
        font-size: 42px !important;
        text-align: center !important;
    }
}
.breadcrumb-link{
    color: white;
    text-decoration: none;
}
.breadcrumb-item::before {
    color: white !important;
  }
.title{
    color:var(--primary-color);
}

