
body {
  background-image: url('../images/buda.jpg');
  /* ដាក់រូបអ្នកចង់ប្រើ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Noto Sans Khmer', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.register-card {
  background: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  display: flex;
}

.register-image {
  flex: 1;
  /* background-image: url('..images/'); */
  /* background-image: url('https://i.pinimg.com/1200x/65/63/0f/65630f91e17f9c311eaa00ec7f43c1e1.jpg'); */
  /* អាចប្រើរូបផ្សេងពី background */
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.register-form {
  flex: 1;
  padding: 40px;
}

h3 {
  color: #b57c00;
  font-weight: bold;
}

.form-control {
  border: 1px solid #15605d;
  border-radius: 10px;
  padding: 10px 15px;
}

.btn-register {
  background-color: #15605d;
  color: white;
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn-register:hover {
  background-color: #104d49;
  transform: scale(1.05);
}

.social-links a {
  color: #15605d;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #b57c00;
}

@media (max-width: 768px) {
  .register-card {
    flex-direction: column;
  }

  .register-image {
    height: 250px;
    border-radius: 0;
  }
}